    body {
            display: flex;
            justify-content: center;
            align-items: center;
            background: linear-gradient(to bottom, rgb(0, 17, 255) 100px, white 100px);
            height: 100vh;
            margin: 0;
            font-family: Arial, sans-serif;
        }
 .login-box {
            background-color: white;
            padding: 30px;
            border: 2px solid blue;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
            width: 300px;
        }

        .login-box h2 {
            text-align: center;
            color: blue;
        }

        .login-box input[type="text"],
        .login-box input[type="password"] {
            width: 100%;
            padding: 10px;
            margin-top: 10px;
            margin-bottom: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        .login-box input[type="submit"] {
            width: 100%;
            padding: 10px;
            background-color: blue;
            color: white;
            border: none;
            border-radius: 5px;
            font-weight: bold;
            cursor: pointer;
        }

        .login-box input[type="submit"]:hover {
            background-color: darkblue;
        }