h1 {
    text-align: center;
    color: white; 
}

body {
    height: 100vh;
    margin: 0;
    background: linear-gradient(to bottom,#0047AB 100px, white 100px);
     font-family: 'Times New Roman', Times, serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4169E1; /* Azul claro */
    padding: 10px 20px;
    font-family: Arial, sans-serif;
    position: relative;
    z-index: 2;
}


.menu-title {
    color: white;
    padding: 10px 20px;
    cursor: pointer;
}

.menu-links {
    display: none;
    position: absolute;
    background-color: #004aad;
    padding: 10px;
    border: 1px solid white;
    z-index: 1;
    width: 150px;
}

.menu-container:hover .menu-links {
    display: block;
}

.menu-links a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 5px 0;
}

.login-link a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}


h1, h2 {
    text-align: center;
    color: white;
    margin: 10px 0;
}

.bottom-bar {
    height: 10px; /* altura da faixa fina */
    background-color: #004aad; /* azul escuro */
    width: 100%;
    margin-top: 40px; /* espaço entre o conteúdo e a barra */
}


.bottom-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20px; /* altura da faixa fina */
    background-color: #004aad; /* azul escuro */
    z-index: 999; /* para garantir que fique acima de outros elementos */
}

.def {
  width: 900px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Alice', serif;
  font-size: 39.5px;
  color: black; /* ou outra cor de sua preferência */
}


.img{
    width: 500px;
    position:absolute;
    top: 650px; 
    left: 600px;
    border-radius: 20px;
}