/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #eee;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 20px;
    border-bottom: 2px solid #000;
    flex-wrap: wrap;
}

.logo {
    font-weight: bold;
    border: 2px solid #ff4500;
    padding: 10px 15px;
    color: #ff4500;
    font-size: 18px;
    border-radius: 8px;
    background-color: white;
}

nav {
    flex: 1;
    display: flex;
    justify-content: space-around;
}



nav a {
    text-decoration: none;
    color: black;
    font-size: 15px;
}

/* Barra de busca com ícone */
.search-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.search-container input {
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.search-container i {
    color: #4b0082;
    font-size: 20px;
}

/* Main */
main {
    padding: 40px 20px;
    background-color: #eee;
    text-align: center;
}

main h1 {
    color: #ff4500;
    text-shadow: 1px 1px 2px gray;
    margin-bottom: 100px;
    text-size-adjust: 50px;
}

main p {
    max-width: 1000px;
    margin: 0 auto 30px;
    text-align: justify;
    font-size: 16px;
    line-height: 1.6;
    color: #333;
}

/* Imagem */
main img {
    width: 400px;
    border: 3px solid #ff4500;
    border-radius: 10px;
    box-shadow: 0 0 15px #ff9966;
}
